* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-size: 100%;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSansLight'), url('../fonts/OpenSans/300-Light/open-sans-v17-latin-300.woff2') format('woff2'), url('../fonts/OpenSans/300-Light/open-sans-v17-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSansRegular'), url('../fonts/OpenSans/400-Regular/open-sans-v17-latin-regular.woff2') format('woff2'), url('../fonts/OpenSans/400-Regular/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src: local('Open Sans Italic'), local('OpenSansItalic'), url('../fonts/OpenSans/400italic-Italic/open-sans-v17-latin-italic.woff2') format('woff2'), url('../fonts/OpenSans/400italic-Italic/open-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: local('Open Sans SemiBold'), local('OpenSansSemiBold'), url('../fonts/OpenSans/600-SemiBold/open-sans-v17-latin-600.woff2') format('woff2'), url('../fonts/OpenSans/600-SemiBold/open-sans-v17-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: local('Open Sans Bold'), local('OpenSansBold'), url('../fonts/OpenSans/700-Bold/open-sans-v17-latin-700.woff2') format('woff2'), url('../fonts/OpenSans/700-Bold/open-sans-v17-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: local('Open Sans ExtraBold'), local('OpenSansExtraBold'), url('../fonts/OpenSans/800-ExtraBold/open-sans-v17-latin-800.woff2') format('woff2'), url('../fonts/OpenSans/800-ExtraBold/open-sans-v17-latin-800.woff') format('woff');
}

.flex {
    display: flex;
}

.bgc_blk {
    background-color: #000;
}

.lh24 {
    line-height: 24px;
}

.posa {
    position: absolute;
}

.white {
    color: #fff;
}

.tac {
    text-align: center;
}

.fs44 {
    font-size: 44px;
}

.m0a {
	margin: 0 auto;
}

.posr {
	position: relative;
}

.pb30 {
	padding-bottom: 30px;
}

.jcc {
	justify-content: center;
}

.black {
	color: #000;
}

.pt100 {
	padding-top: 100px;
}

.t100 {
	top: 100px;
}

.i {
	font-style: italic;
}

.dg {
	display: grid;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs16 {
	font-size: 16px;
}

.ffos {
    font-family: 'Open Sans';
}

.ffossb {
    font-family: 'Open Sans SemiBold';
}

.ffosl {
    font-family: 'Open Sans Light';
}

header {
    height: 100px;
}

.header__logo {
    font-family: 'Open Sans ExtraBold';
    font-size: 24px;
    top: 57px;
    left: 12.06666666666667%;
    cursor: pointer;
}

.header__menu {
    top: 60px;
    right: 8.8%;
}

.header__menu a {
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0 18px 0 18px;
    padding: 0 3px 12px 3px;
    text-align: center;
    color: #fff;
}

.header__menu a:hover {
    border-bottom: 3px solid #fcac45;
}

.header__burger {
	display: none;
}

.home {
    height: 690px;
}

.home__heading {
    padding-top: 197px;
    letter-spacing: -2.2px;
    color: #999;
}

.home__heading span {
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: -2.2px;
    color: #fcac45;
}

.home__description {
    width: 70%;
    padding-top: 20px;
    color: #999;
}

.home__description span {
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: -1;
}

.about {
    height: 613px;
    margin: 0 auto;
    width: 76%;
}

.about__image {
	margin: 100px 0 100px 0;
    width: 50%;
}

.about__article {
	margin-left: 11%;
    margin-top: 100px;
    width: 50%;
}

.about__heading {
	display: inline-block;
    font-size: 34px;
    line-height: 37.3px;
    padding-bottom: 21px;
    letter-spacing: -.68px;
    color: #222;
    border-bottom: 4px solid #fcac45;
}

.about__heading span {
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: -.68px;
}

.about__text {
    line-height: 25px;
    margin-top: 31px;
    letter-spacing: -.72px;
}

.about__list {
    margin-top: 45px;
}

.about__list li {
    font-family: 'Open Sans SemiBold';
    font-size: 16px;
    line-height: 25px;
    margin-top: 22px;
    padding-left: 25px;
    letter-spacing: -.18px;
    color: #5a5a5a;
}

.about__list span {
    font-family: 'Open Sans';
    font-style: italic;
    letter-spacing: -.16px;
}

.team {
    height: 726px;
}

.heading_white::after,
.heading_black::after,
.heading-span_white::after,
.heading-span_black::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 99px;
    height: 5px;
    content: '';
    transform: translate(-50%, 0);
    background-color: #fcac45;
}

.team__row {
    top: 207px;}

.team__name {
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 35px;
}

.team__name span {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.team__text {
    width: 60%;
}

.services {
    height: 800px;
}

.italic-text {
    top: 55px;
    width: 75%;
    color: #6c6c6c;
}

.services__row {
    top: 167px;
}

.services__name {
    font-size: 25px;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #222;
}

.services__text {
    line-height: 21px;
    width: 75%;
    color: #222;
}

.clients {
    height: 517px;
}

.heading-span_white span,
.heading-span_black span {
    font-family: 'Open Sans SemiBold';
}

.clients__images {
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 2em;
    top: 212px;
}

.portfolio {
    height: 1333px;
}

.portfolio__images {
    grid-template-columns: auto auto auto auto;
    grid-gap: 2em;
    margin-top: 230px;
}

.testimonials {
    height: 562px;
}

.testimonials__text {
    top: 218px;
    width: 62%;;
}

.testimonials__author {
    top: 250px;
    color: #b2b2b2;
}

.testimonials__author span {
    font-family: "Open Sans Light";
}

.contact__italic-text {
    top: 55px;
    color: #6c6c6c;
}

.contact {
    width: 753px;
    height: 834px;
}

.contact__inputs {
    margin-top: 145px;
}

.contact__inputs span,
.contact__textarea span {
    color: #db0000;
}

.contact__inputs,
.contact__textarea {
    color: #636363;
}

.contact__inputs input {
    width: 360px;
    height: 40px;
    margin-bottom: 30px;
}

input:first-of-type {
    margin-right: 34px;
}

textarea {
    width: 100%;
    height: 163px;
    resize: none;
}

input,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #636363;
    font-family: "OpenSans";
    line-height: 24px;
}

.contact__button input {
    margin-top: 12px;
    margin-right: 0;
    float: right;
    height: 40px;
    width: 165px;
    color: #ffffff;
    font-family: "Open Sans SemiBold";
    font-size: 16px;
    background-color: #fcac45;
    border: 0;
}

footer {
    height: 92px;
    background-color: #222222;
}

.footer_social {
    grid-template-columns: 31px 31px 31px 31px 31px;
    grid-column-gap: 13px;
    top: 30px;
}

@media screen and (max-width: 1199px) {
	.header__menu a {
		margin: 0 5px 0 5px;
	}

	.about__image img {
		width: 406px;
	}

	.portfolio {
		height: 1800px;
	}

	.portfolio__images {
		grid-template-columns: auto auto auto;
		grid-gap: 3em;
	}
}

@media screen and (max-width: 1023px) {
	.header__logo,
    .header__menu a.header__burger,
    .home__description,
    .about__list li,
    .services__name {
		font-size: 30px;
	}

    .testimonials__author,
    .testimonials__text,
    .services__text,
    .team__name span,
    .team__text {
        font-size: 22px;
    }

    .team__row,
    .services__row {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 2em;
    }
    
    .about__text,
    .team__name,
    .italic-text,
    .contact__italic-text,
    .contact__inputs,
    .contact__textarea,
    .contact__button input {
        font-size: 25px;
    }

    .home__heading,
    .about__heading, {
        font-size: 50px;
    }

    .home__description,
    .home__heading,
    .about__heading,
    .contact__italic-text,
    .team__name,
    .contact__inputs,
    .contact__textarea,
    .contact__button input,
    .services__name {
        line-height: 40px;
    }
    
    .about__text,
    .team__text,
    .italic-text,
    .contact__italic-text,
    .services__text, {
        line-height: 35px;
    }
    
    .about__image,
    .about__article {
        width: 100%;
    }

    .about__article,
    .about,
    .services {
        margin: 0 auto;
    }

    .contact,
    .about {
        height: 1000px;
    }

    input,
    textarea {
        margin-top: 10px;
    }

	.header__menu a {
		display: none;
	}

	.header__menu a.header__burger {
		float: right;
		margin-top: -10px;
		display: block;
	}

	.about {
		text-align: center;
		flex-direction: column;
	}

	.about__list li {
		float: left;
    }

	.team {
		height: 1100px;
    }

	.services {
        width: 92%;
		height: 1200px;
    }

}

